body:not(.portrait).menu canvas {
    right: 20px;
    left: auto;
    transform: translateY(-50%);
    top: 55%;
    position: absolute;
    height: 130vh;
    opacity: 0.7;
}

.banner {
  display: none;
}

.menu .banner {
  display: block;
    position: fixed;
    z-index: 20;
    height: 30%;
    right: 70vh;
    top: 20px;
    transform: translateX(50%);
}

.portrait.menu .banner {
  right: 50%;
    height: auto;
    width: 90%;
}


li
{
    text-align: center;
    display: table-row;
}

.button {
	box-shadow: 0px 4px 0px 0px #688787;
	background-color:#a1d1d2;
	border:1px solid #688787;
	cursor:pointer;
	color:#000;
	font-family:Arial;
	font-size:25px;
	padding:7px 25px;
	text-decoration:none;
	display: table-cell;
	vertical-align: middle;
}
.button:hover {
	background-color:#90bbbc;
}

.button:active {
	position:relative;
	top:4px;
  box-shadow: none;
}

.buttons {
  display: none;
}

.menu .buttons {
  height: 100%;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  left: 20px;
  z-index: 20;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  table-layout: fixed;
  border-spacing: 0 40px;
}

.portrait .button {
  margin-top: 20%;
}

.portrait .buttons {
  transform: translateX(-50%);
  left: 50%;
  top: 40%;
  height: 50%;
}

@media screen and (min-width: 800px) {
    .menu .buttons {
        border-spacing: 0 80px;
        width: 33%;
    }
}
